<section>
  <h2>Project list page</h2>
  <div>
    <table mat-table>
      <thead>
        <tr mat-header-row>
          <th mat-header-cell>Project ID</th>
          <th mat-header-cell>Project Name</th>
          <th mat-header-cell>Project Description</th>
          <th mat-header-cell>Username </th>
        </tr>
      </thead>
      <tr *ngFor="let project of projects$ | async" mat-row>
        <td mat-cell>{{ project.id }}</td>
        <td mat-cell>{{ project.name }}</td>
        <td mat-cell>{{ project.description }}</td>
        <td mat-cell>{{ project.owner.userName }}</td>
      </tr>
    </table>
  </div>
</section>
