<nav>
  <div>
    <br>
    <div *ngIf="userIsAuthenticated">
      <span>Logged in as {{ loggedUser }}</span>
      <br>
      <button type="button" (click)="onLogout()">Log out</button>
    </div>
    <ul>
      <li>
        <a [routerLink]="['/']">Home</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a [routerLink]="['/userList']">Admin main</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a [routerLink]="['/signup']">Registration</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a [routerLink]="['/api']">GitLab Projects</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a [routerLink]="['/signup']">Sign up</a>
      </li>
    </ul>
  </div>
</nav>
